<div class="container w-75">
  <h1>All Flats/Houses</h1>
  <div class="list-group">
    <div class="list-group-item">
      <% @listings.each do |listing|%>
        <h3><%= listing.name %> | <%= listing.location %></h3>
        <h4><%= listing.description %></h4>
        <p><%= listing.number_guests %> guests</p>
        <p>Price: <%= listing.price %> per night</p>
      <% end %>
    </div>
  </div>
</div>
