<div class="container w-75 ">

  <h1 class="explore-heading">Explore...</h1>
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <%= form_with url: listings_path, method: :get, local: true, class: "search-form" do %>
    <div class="search-bar">
      <div class="search-field">
        <strong>Where</strong>
        <%= text_field_tag :location, params[:location], placeholder: "Search destinations", class: "search-input" %>
      </div>
      <div class="divider"></div>

      <div class="search-field">
        <strong>Check in</strong>
        <%= date_field_tag :check_in, params[:check_in], class: "search-input" %>
      </div>
      <div class="divider"></div>

      <div class="search-field">
        <strong>Check out</strong>
        <%= date_field_tag :check_out, params[:check_out], class: "search-input" %>
      </div>
      <div class="divider"></div>

      <div class="search-field">
        <strong>Who</strong>
        <%= number_field_tag :guests, params[:guests], placeholder: "Add guests", class: "search-input", min: 1 %>
      </div>

      <%= submit_tag "", class: "search-button" %>
    </div>
  <% end %>

  <div class="row">
    <% @listings.each do |listing|%>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-listing-index parent">
          <div class="card-listing-index-image">
            <% if listing.photo.attached? %>
              <%= cl_image_tag listing.photo.key, class: "card-listing-cloudinary-image", style:"width: 100%;", crop: :fill %>
            <% else %>
              <img src="<%= listing.image_url %>" alt="" class="w-100">
            <% end %>
          </div>
          <div class="card-listing-index-infos">
            <h4><%=link_to listing.name, listing_path(listing) %> | <%= listing.location %></h4>
            <p><strong><%= listing.description %></strong></p>

            <p><%= listing.address %></p>
            <p><strong><%= listing.number_guests %> guests</strong></p>
            <p><strong>Price: <%= number_to_currency(listing.price, unit: "£") %> per night</strong></p>
            <%= link_to listing_path(listing), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-delete" do %>
              <div class="child">
                <i class="fa-solid fa-trash"></i>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
