<div class="container w-75 ">
  <h1>Explore...</h1>
  <div class="row">
    <% @listings.each do |listing|%>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-listing-index">
          <div class="card-listing-index-image">
            <% if listing.photo.attached? %>
              <%= cl_image_tag listing.photo.key, class: "card-listing-cloudinary-image", style:"width: 100%;", crop: :fill %>
            <% else %>
              <img src="<%= listing.image_url %>" alt="" class="w-100">
            <% end %>
          </div>
          <div class="card-listing-index-infos">
            <h3><%= link_to listing.name, listing_path(listing) %> | <%= listing.location %></h3>
            <p><strong><%= listing.description %></strong></p>
            <p><%= listing.number_guests %> guests</p>
            <p>Price: <%= listing.price %> per night</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
