<!--<h1>Listings#show</h1>-->
<div class="container">
  <%= link_to listings_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <h1><%= @listing.name %></h1>
</div>
<div class="container d-flex position-relative">
  <div class="w-60">
    <div class="listing-info pb-100">
      <% if @listing.photo.attached? %>
        <%= cl_image_tag @listing.photo.key, style:"width: 100%;", crop: :fill %>
      <% else %>
        <img src="<%= @listing.image_url %>" alt="" class="w-100">
      <% end %>
    </div>

  </div>
  <div class="position-sticky padding-space-40">
    <div>
      <h4><%= @listing.location %></h4>
      <p>Maximum number of guests <%= @listing.number_guests %></p>
      <p><%= @listing.description %></p>
    </div>
    <div class="booking-property-form card padding-space-10">
      <h5>MAKE A NEW BOOKING</h5>
      <h4>Price per night    <%= number_to_currency(@listing.price, unit: "£") %></h4>
      <%= simple_form_for [@listing, @booking] do |f| %>
        <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
    <%# <div class="price-card">
      <h3>Price per night    <%= number_to_currency(@listing.price, unit: "£") %></h3>
      <%# <%= link_to "Request a booking", new_listing_booking_path(@listing), class: "btn btn-primary" %>
    <%# </div> %>
</div>
