<!--<h1>Listings#show</h1>-->
<div class="container">
  <%= link_to listings_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <h1 class="section-heading"><%= @listing.name %></h1>
</div>
<div class="container d-flex position-relative">
  <div class="w-60">

    <div class="listing-info pb-100">
      <% if @listing.photo.attached? %>
        <%= cl_image_tag @listing.photo.key, class: "shadow-image", crop: :fill %>
      <% else %>
        <img src="<%= @listing.image_url %>" alt="" class="w-100 shadow-image">
      <% end %>
    </div>

  </div>
  <div class="position-sticky padding-space-40">
    <div>
      <h4><%= @listing.location %></h4>
      <h6>Number of guests <%= @listing.number_guests %></h6>
      <hr>
      <p><%= @listing.description %></p>
    </div>
    <hr>
    <div class="card padding-space-10" style="width: 21rem"`>

      <h6 class="card header booking-price" ><%= number_to_currency(@listing.price, unit: "£") %> a night</h6>
      <%= simple_form_for [@listing, @booking] do |f| %>
        <%= f.input :start_date, label: false,
            as: :string, placeholder: "start-date",
            input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :end_date, label: false,
            as: :string, placeholder: "end-date",
            input_html: { data: { controller: "datepicker" } } %>
        <p class="list-group"><%= f.submit "Book now" %></p>
      <% end %>
    </div>
  </div>
</div>

