<!--<h1>Listings#show</h1>-->
<div class="container w-75">
  <h1>Property Details</h1>
  <%= link_to listings_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <div class="listing-info m-b-50">
    <img src="<%= @listing.image_url %>" alt="img" class="w-100">
    <h3><%= @listing.name %></h3>
    <h4><%= @listing.location %></h4>
    <p>Maximum number of guests <%= @listing.number_guests %></p>
    <p><%= @listing.description %></p>
  </div>

  <div class="booking-property-form">
    <h5>Make a new booking</h5>
    <%= simple_form_for [@listing, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit %>
    <% end %>
  </div>

    <%# <div class="price-card">
      <h3>Price per night    <%= number_to_currency(@listing.price, unit: "£") %></h3>
      <%# <%= link_to "Request a booking", new_listing_booking_path(@listing), class: "btn btn-primary" %>
    <%# </div> %>
</div>
